.account-delete {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2531;
}
.account-delete-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #F7F7F7;
    border-radius: 15px;
    padding: 35px;
}

.account-delete-modal h1 {
    font-family: 'Paperlogy', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -0.05em;
    margin-bottom: 15px;
}

.account-delete-modal button {
    width: 100%;
    height: 60px;
    background-color: #CACFD6;
    border: none;
    border-radius: 8px;

    font-family: 'Paperlogy', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0;
    color: #F6F6F6;
}

.account-delete-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 0 15px;
}
.account-delete-description ul {
    text-align: left;
    list-style-type: none;
}

.account-delete-description ul h2 {
    font-family: 'Paperlogy', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.05em;
    margin-top: 20px;
}

.account-delete-description ul li {
    font-family: 'Paperlogy', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.05em;
}

.account-delete-description ul li span {
    font-family: 'Paperlogy', sans-serif;
    font-weight: 700;
    padding: 0 10px;
}

.account-delete-check {
    display: flex;
    align-items: flex-start;

    font-family: Paperlogy, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.04em;
    padding-top: 20px;
    margin-bottom: 30px;
}

.account-delete-check input {
    margin-top: 7px;
    margin-right: 5px;
    width: 24px;
}
.account-delete-check p {
    display: flex;
    flex-wrap: wrap;
}

.clickable {
    background-color: #4865FF !important;
    cursor: pointer !important;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
}

/* 모바일 전용 스타일 */
@media screen and (max-width: 767px) {
    .account-delete {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1F2531;
    }
    .account-delete-modal {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .account-delete-description {
        /* 스크롤바 스타일 적용 */
        scrollbar-width: thin; /* Firefox용 */
        scrollbar-color: #8E8E8E #E7E7E7; /* 스크롤 색상 (스크롤바, 배경) */
    }
    /* Webkit 기반 브라우저 (Chrome, Safari 등) */
    .account-delete-description::-webkit-scrollbar {
        width: 2px; /* 스크롤바 너비 */
    }
    .account-delete-description::-webkit-scrollbar-thumb {
        background-color: #8E8E8E; /* 스크롤바 색상 */
    }
    .account-delete-description::-webkit-scrollbar-track {
        background-color: #E7E7E7; /* 스크롤바 트랙 (배경) 색상 */
    }
}