.footer {
    width: 100%;
    height: 100px;
    background-color: #282D39;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: sticky;
    bottom: 0;
    right: 0;
}
