.sidebar-toggle {
    position: sticky !important;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;

    padding-left: 2.25px;
}

.sidebar-toggle img {
    width: 35px;
    height: 35px;
}

.navigation-bar {
    flex: 1;

    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 15px 9px;

    position: relative;
}

.navigation-bar ul {
    min-height: 100px;
    list-style: none;
    margin-top: 50px;
    color: #FFFFFF;
    position: relative; /* 글자 위치 고정 */
    white-space: nowrap; /* 줄바꿈 방지 */
}

.navigation-bar ul h1{
    height: 55px;
    font-family: 'Paperlogy', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 35.8px;
    letter-spacing: calc(50px * -0.02);
    color: #FFFFFF;
    align-content: center;
}

.navigation-bar ul h2 {
    height: 45px;
    font-family: 'Paperlogy', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 23.87px;
    letter-spacing: calc(40px * -0.02);
    align-content: center;
}

.navigation-bar ul li {
    height: 25px;
    align-content: center;
    color: #91c1F4;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
}

.navigation-bar ul li h3 {
    font-family: 'Paperlogy', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.67px;
    letter-spacing: 0.5px;

    color: #91c1F4;
}

.navigation-bar ul li img {
    width: 20px;
}

.sidebar .naver-logout {
    width: 100%;
    display: flex;
    flex-direction: column;

    font-family: 'Paperlogy', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 17.67px;
    letter-spacing: 0.5px;
    padding-top: 15px;

    position: absolute;
    bottom: 15px;
    left: 9px;
}

.sidebar .naver-logout .naver-logout-button {
    width: 100%;

    display: flex;
    align-items: center;

    margin-bottom: 30px;
    cursor: pointer;
    white-space: nowrap; /* 줄바꿈 방지 */
}
.sidebar .naver-logout .naver-logout-button span {
    font-weight: 600 !important;
    font-size: 15px;
    margin-left: 5px;
    white-space: nowrap; /* 줄바꿈 방지 */
}

.sidebar .naver-logout .naver-account-delete {
    font-weight: 400 !important;
    color: #889BFF !important;
    text-decoration: underline;
    white-space: nowrap; /* 줄바꿈 방지 */
}

/* 모바일 전용 스타일 */
@media screen and (max-width: 767px) {
    .sidebar-toggle {
        position: sticky !important;
        background: none;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

    .sidebar-toggle img {
        width: 26px;
        height: 26px;
    }

    .navigation-bar {
        padding: 15px 0 15px 0 !important;
    }

    .chat-ul {
        margin-bottom: 60px;
    }
    .navigation-bar ul {
        margin-top: 0;
    }
    .navigation-bar ul h1 {
        font-size: 20px !important;
        letter-spacing: -0.02em;
    }

    .navigation-bar ul h2 {
        font-family: "Pretendard", sans-serif !important;
        font-size: 16px !important;
        letter-spacing: -0.02em;
    }

    .navigation-bar ul li {
        height: 45px !important;
        padding: 0 20px;
        border-top: 1px solid #22222E;
        border-bottom: 1px solid #22222E;
    }
    .navigation-bar ul li h3 {
        font-family: "Pretendard", sans-serif !important;
        font-weight: 400;
        font-size: 15px !important;
        color: #FFFFFF;
    }
    .navigation-bar ul li img {
        width: 26px !important;
        height: 26px !important;
    }

    .sidebar .naver-logout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-right: 15px;
    }

    .sidebar .naver-logout .naver-logout-button span {
        font-weight: 500 !important;
    }

    .sidebar .naver-logout .naver-account-delete {
        color: #4F4F5F !important;
    }
}