html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Pretendard', sans-serif;
}

#root, #wrap, .App {
    height: 100%;
    width: 100%;
    display: flex; /* ✅ Flex 사용 */
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-family: 'Paperlogy', cursive;
}

/* 모바일 전용 스타일 */
@media screen and (max-width: 767px) {
    html, body {
        background-color: black;
    }
}