.login_container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login_inner_fir {
    width: 35%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid black;
    margin-right: 10px;
}

.login_inner_fir .mz-office {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    font-weight: bold;
}

.login_inner_fir .naver-login-button {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login_inner_sec {
    width: 60%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
}

.login_inner_sec img {
    width: 100%;
}